body {
    background: #f5f5f5;
    }

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    }

.header {
      padding: 20px;
      text-align: center;
      background: #add8e6;
      color: white;
      font-size: 30px;
      margin:0px;
    }

.postcodeEntry{
    background-color: #fefefe;
    border-radius: 25px;
    border: 2px solid #b19cd9;
    padding: 20px;
    width: 500px;
    height: 135px;
    position:absolute;
    top: 180px;
    left: 50%;
    margin: -25px 0 0 -275px;
    }

form {
      text-align: center;
    }

.text{
      font-weight: bold;
      font-size: 20px
    }

.inputField{
      background-color: #f1f1f1;
      padding: 3px
    }

.subButton{
      background-color: #add8e6;
      border-radius: 25px;
      border: none;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      cursor: pointer;
      width: 40%;
    }

.postcode_lookup_form_div {
        position: absolute;
        z-index: 10;
        left: 50%;
        transform: translate(-50%, 0%);
    }

#wrapper-loading{
    position: relative;
}

#loading{
    color: #add8e6;
    font-weight: bold;
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 210px 0 0 -75px;
    visibility: hidden;
}

#Wrapper{
    visibility: hidden;
    display: inline;
}

#Section_1{
    padding-top: 15px;
    text-align: center;
}

#Section_1_left{
    width: 50%;
    float:left;
}

#Section_1_right{

    width: 50%;
    float:right;
}

#Local_Postcode_container{
    column-count: 3;
}

#Section_2{
    text-align: center;
}

#s2h{
    width: 100%;
}

#Section_2_left{
    width: 50%;
    float:left;
}

#category_data{
    column-count: 3;
}

#Section_2_right{
    width: 50%;
    float:right;
}

#location_data{
    column-count: 3;
}

#Section_3{
    text-align: center;
}

#outcome_status_results{
    column-count: 3;
    width: 100%
}